.login-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #152850;
}
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0eefe;
  height: 80vh;
  border-radius: 22px;
  width: 60%;
}
.login-image {
  height: 350px;
  width: 450px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.form-container {
  height: 350px;
  width: 450px;
  background-color: #e0eefe;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 22px;
  padding-left: 10px;
  padding-right: 10px;
}
.heading {
  font-weight: bold;
  font-size: 36px;
  font-family: 'Roboto';
  color: #152850;
}
.input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.label-text {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Roboto';
  color: #5a7184;
  margin-bottom: 10px;
}
.inputEle {
  font-size: 16px;
  font-family: 'Roboto';
  height: 40px;
  border-radius: 5px;
  border: 2px solid #c3cad9;
  padding-left: 10px;
  outline: none;
}
.login-btn {
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  background-color: #1565d8;
  border: none;
  outline: none;
  margin-top: 20px;
}

.error-msg {
  text-align: center;
  color: #ff0b37;
}

.main-heading {
  font-weight: bold;
  font-size: 36px;
  font-family: 'Roboto';
  color: darkblue;
}
